:root {
    --color-dorado: rgb(101, 88, 16);
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: rgb(90, 106, 110) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-image {    
    background-image: url('/public/img/myImage.jpeg');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
}

table {
    width: 100%;
    margin-top: 20px;
}

.container-info {
    margin-top: 2.25em;
    text-align: center;
    width: 50%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px var(--color-dorado);
}

.columns {
    font-size: 18px;
    color: var(--color-dorado);
    border-bottom: 2px solid var(--color-dorado);
    border-right: 2px solid var(--color-dorado);
    padding: 1.25em;
}

.columns-data {
    border-right: 2px solid var(--color-dorado);
}

#contact-list {
    padding: 1.25em;
}

.form-container {
    margin-top: 1em;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px var(--color-dorado);
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-container input {
    margin: 10px 5px;
    padding: 10px;
    width: 30%;
    border: 1px solid var(--color-dorado);
    border-radius: 5px;
}

.form-container button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--color-dorado);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: rgba(101, 88, 16, 0.8);
}
